body {
    background-image: url(background1.jpg);
}
#slides {
    align-items: center;
}
h1 {
    color: ivory;
    display: inline;
}
h3 {
    color: orange;
    display: inline;
}
p {
    text-align: center;
    color: ivory;
}